In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
# Adjust the path if needed

df = pd.read_csv('data/raw2/hotelrec_full_combined.csv')

# Quick look
print(df.shape)
df.head()

(50264531, 13)

,hotel_id,hotel_name,hotel_location,author,date,rating,sentiment_score,sleep quality,value,rooms,service,cleanliness,location
0,1121769,Hotel Baltic,Giulianova Province of Teramo Abruzzo,violettaf340,2019-01,5.0,0.341327,NaN,NaN,NaN,NaN,NaN,NaN
1,1121769,Hotel Baltic,Giulianova Province of Teramo Abruzzo,Lagaiuzza,2016-01,5.0,0.272183,NaN,NaN,NaN,NaN,NaN,NaN
2,1121769,Hotel Baltic,Giulianova Province of Teramo Abruzzo,ashleyn763,2014-10,5.0,0.475000,NaN,5.0,NaN,5.0,NaN,5.0
3,1121769,Hotel Baltic,Giulianova Province of Teramo Abruzzo,DavideMauro,2014-08,5.0,0.623636,5.0,NaN,NaN,5.0,5.0,NaN
4,1121769,Hotel Baltic,Giulianova Province of Teramo Abruzzo,Alemma11,2013-08,4.0,0.218607,3.0,4.0,4.0,5.0,3.0,4.0

In [3]:
# Overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50264531 entries, 0 to 50264530
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   hotel_id         int64
 1   hotel_name       object
 2   hotel_location   object
 3   author           object
 4   date             object
 5   rating           float64
 6   sentiment_score  float64
 7   sleep quality    float64
 8   value            float64
 9   rooms            float64
 10  service          float64
 11  cleanliness      float64
 12  location         float64
dtypes: float64(8), int64(1), object(4)
memory usage: 4.9+ GB

In [4]:
missing_values = df.isnull().sum()
missing_percent = (missing_values / len(df)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing_values,
    'Missing %': missing_percent
})
print(missing_df[missing_df['Missing Count'] > 0])

                Missing Count  Missing %
hotel_location             20   0.000040
author                  23889   0.047527
sleep quality        27672279  55.053292
value                23877794  47.504261
rooms                24847780  49.434023
service              14691088  29.227544
cleanliness          23858431  47.465739
location             24743058  49.225682

In [5]:
# Drop rows where either 'author' or 'hotel_location' is NaN
df_cleaned = df.dropna(subset=['author', 'hotel_location'])

In [6]:
print(f"Original shape: {df.shape}")
print(f"New shape after dropping rows with null author or hotel_location: {df_cleaned.shape}")

Original shape: (50264531, 13)
New shape after dropping rows with null author or hotel_location: (50240622, 13)

In [ ]:
output_path = 'data/raw2/hotelrec_final.csv'
chunk_size = 500_000
write_header = True

for i in range(0, len(df_cleaned), chunk_size):
    chunk = df_cleaned.iloc[i:i+chunk_size].reset_index(drop=True)
    chunk.to_csv(output_path, mode='a', index=False, header=write_header)
    write_header = False
    print(f"Saved chunk {i//chunk_size + 1}: {chunk.shape[0]} rows") # 3m 14s

Saved chunk 1: 500000 rows
Saved chunk 2: 500000 rows
Saved chunk 3: 500000 rows
Saved chunk 4: 500000 rows
Saved chunk 5: 500000 rows
Saved chunk 6: 500000 rows
Saved chunk 7: 500000 rows
Saved chunk 8: 500000 rows
Saved chunk 9: 500000 rows
Saved chunk 10: 500000 rows
Saved chunk 11: 500000 rows
Saved chunk 12: 500000 rows
Saved chunk 13: 500000 rows
Saved chunk 14: 500000 rows
Saved chunk 15: 500000 rows
Saved chunk 16: 500000 rows
Saved chunk 17: 500000 rows
Saved chunk 18: 500000 rows
Saved chunk 19: 500000 rows
Saved chunk 20: 500000 rows
Saved chunk 21: 500000 rows
Saved chunk 22: 500000 rows
Saved chunk 23: 500000 rows
Saved chunk 24: 500000 rows
Saved chunk 25: 500000 rows
Saved chunk 26: 500000 rows
Saved chunk 27: 500000 rows
Saved chunk 28: 500000 rows
Saved chunk 29: 500000 rows
Saved chunk 30: 500000 rows
Saved chunk 31: 500000 rows
Saved chunk 32: 500000 rows
Saved chunk 33: 500000 rows
Saved chunk 34: 500000 rows
Saved chunk 35: 500000 rows
Saved chunk 36: 500000 rows
Saved chunk 37: 500000 rows
Saved chunk 38: 500000 rows
Saved chunk 39: 500000 rows
Saved chunk 40: 500000 rows
Saved chunk 41: 500000 rows
Saved chunk 42: 500000 rows
Saved chunk 43: 500000 rows
Saved chunk 44: 500000 rows
Saved chunk 45: 500000 rows
Saved chunk 46: 500000 rows
Saved chunk 47: 500000 rows
Saved chunk 48: 500000 rows
Saved chunk 49: 500000 rows
Saved chunk 50: 500000 rows
Saved chunk 51: 500000 rows
Saved chunk 52: 500000 rows
Saved chunk 53: 500000 rows
Saved chunk 54: 500000 rows
Saved chunk 55: 500000 rows
Saved chunk 56: 500000 rows
Saved chunk 57: 500000 rows
Saved chunk 58: 500000 rows
Saved chunk 59: 500000 rows
Saved chunk 60: 500000 rows
Saved chunk 61: 500000 rows
Saved chunk 62: 500000 rows
Saved chunk 63: 500000 rows
Saved chunk 64: 500000 rows
Saved chunk 65: 500000 rows
Saved chunk 66: 500000 rows
Saved chunk 67: 500000 rows
Saved chunk 68: 500000 rows
Saved chunk 69: 500000 rows
Saved chunk 70: 500000 rows
Saved chunk 71: 500000 rows
Saved chunk 72: 500000 rows
Saved chunk 73: 500000 rows
Saved chunk 74: 500000 rows
Saved chunk 75: 500000 rows
Saved chunk 76: 500000 rows
Saved chunk 77: 500000 rows
Saved chunk 78: 500000 rows
Saved chunk 79: 500000 rows
Saved chunk 80: 500000 rows
Saved chunk 81: 500000 rows
Saved chunk 82: 500000 rows
Saved chunk 83: 500000 rows
Saved chunk 84: 500000 rows
Saved chunk 85: 500000 rows
Saved chunk 86: 500000 rows
Saved chunk 87: 500000 rows
Saved chunk 88: 500000 rows
Saved chunk 89: 500000 rows
Saved chunk 90: 500000 rows
Saved chunk 91: 500000 rows
Saved chunk 92: 500000 rows
Saved chunk 93: 500000 rows
Saved chunk 94: 500000 rows
Saved chunk 95: 500000 rows
Saved chunk 96: 500000 rows
Saved chunk 97: 500000 rows
Saved chunk 98: 500000 rows
Saved chunk 99: 500000 rows
Saved chunk 100: 500000 rows
Saved chunk 101: 240622 rows

In [8]:
df_cleaned.head

<bound method NDFrame.head of           hotel_id                            hotel_name  \
0          1121769                          Hotel Baltic
1          1121769                          Hotel Baltic
2          1121769                          Hotel Baltic
3          1121769                          Hotel Baltic
4          1121769                          Hotel Baltic
...            ...                                   ...
50264526    240221  Chart House Suites On Clearwater Bay
50264527    240221  Chart House Suites On Clearwater Bay
50264528    240221  Chart House Suites On Clearwater Bay
50264529    240221  Chart House Suites On Clearwater Bay
50264530    240221  Chart House Suites On Clearwater Bay

                                 hotel_location             author     date  \
0         Giulianova Province of Teramo Abruzzo       violettaf340  2019-01
1         Giulianova Province of Teramo Abruzzo          Lagaiuzza  2016-01
2         Giulianova Province of Teramo Abruzzo         ashleyn763  2014-10
3         Giulianova Province of Teramo Abruzzo        DavideMauro  2014-08
4         Giulianova Province of Teramo Abruzzo           Alemma11  2013-08
...                                         ...                ...      ...
50264526                     Clearwater Florida  maryannAlpharetta  2006-07
50264527                     Clearwater Florida             NayK23  2006-05
50264528                     Clearwater Florida      Passenger1754  2006-02
50264529                     Clearwater Florida          Roam20701  2006-01
50264530                     Clearwater Florida      Daydream34131  2005-11

          rating  sentiment_score  sleep quality  value  rooms  service  \
0            5.0         0.341327            NaN    NaN    NaN      NaN
1            5.0         0.272183            NaN    NaN    NaN      NaN
2            5.0         0.475000            NaN    5.0    NaN      5.0
3            5.0         0.623636            5.0    NaN    NaN      5.0
4            4.0         0.218607            3.0    4.0    4.0      5.0
...          ...              ...            ...    ...    ...      ...
50264526     2.0         0.269503            NaN    NaN    NaN      NaN
50264527     4.0         0.241890            NaN    NaN    NaN      NaN
50264528     3.0         0.078611            NaN    3.0    3.0      3.0
50264529     1.0        -0.313889            NaN    NaN    NaN      NaN
50264530     4.0         0.320000            NaN    5.0    5.0      5.0

          cleanliness  location
0                 NaN       NaN
1                 NaN       NaN
2                 NaN       5.0
3                 5.0       NaN
4                 3.0       4.0
...               ...       ...
50264526          NaN       NaN
50264527          NaN       NaN
50264528          3.0       NaN
50264529          NaN       NaN
50264530          5.0       NaN

[50240622 rows x 13 columns]>

In [ ]:
# Compress
df.to_csv('data/raw2/hotelrec_final.csv.gz', index=False, compression='gzip') #7m 39s